<div class="container mx-auto px-4 py-6" *ngIf="project$ | async as project;">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Update Project: {{project.name}}</h1>
</div>

<app-admin-loader [isLoading]="isLoading"></app-admin-loader>

<ul class="flex border-b border-gray-300">
    <li *ngFor="let phase of phases" class="mr-2">
        <a (click)="setActivePhase(phase)"
           [ngClass]="{'bg-gray-500 text-white': activePhase === phase, 'bg-white text-gray-600 hover:bg-gray-100': activePhase !== phase}"
           class="inline-block py-2 px-4 text-sm font-medium text-center rounded-t-lg cursor-pointer transition duration-150 ease-in-out">
            {{ phase | titlecase }}
        </a>
    </li>
</ul>

<div class="mt-6 bg-gray-50 p-4 rounded-b-lg border">
    <!-- Identification Phase -->
    <div *ngIf="activePhase === 'identification'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Identification Phase</h2>

        <form [formGroup]="updateProjectIdentificationForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div class="p-5 flex flex-col mt-5  gap-4">
                <h3>Project Overview</h3>
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                    <input formControlName="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Project Title">
                </div>
                <div>
                    <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
                    <textarea rows="4" formControlName="description" id="description" class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Brief description"></textarea>
                </div>
                <div class="flex justify-between">
                    <div class="flex-1 mr-2">
                        <label for="startDate" class="block text-sm font-medium text-gray-700">Start Date:</label>
                        <input formControlName="startDate" id="startDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                    <div class="flex-1 ml-2">
                        <label for="endDate" class="block text-sm font-medium text-gray-700">End Date:</label>
                        <input formControlName="endDate" id="endDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                </div>
                <div>
                    <label for="scope" class="block text-sm font-medium text-gray-700">Scope:</label>
                    <textarea rows="4" formControlName="scope" id="scope" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Project Scope"></textarea>
                </div>
                <div>
                    <label for="purpose" class="block text-sm font-medium text-gray-700">Purpose:</label>
                    <textarea rows="4" formControlName="purpose" id="purpose" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Project Purpose"></textarea>
                </div>
                <div class="flex gap-3 ">
                    <div>
                        <label for="sector" class="block text-sm font-medium text-gray-700">Sector:</label>
                        <select formControlName="sector" id="sector" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                            <option value="education">Education</option>
                            <option value="health">Health</option>
                            <option value="energy">Energy</option>
                            <option value="energy.solar">Solar energy</option>
                            <option value="energy.wind">Wind energy</option>
                            <option value="energy.hydropower">Hydropower energy</option>
                            <option value="energy.biomass">Biomass energy</option>
                            <option value="energy.geothermal">Geothermal energy</option>
                            <option value="communications">Communications</option>
                            <option value="waterAndWaste">Water and waste</option>
                            <option value="governance">Governance</option>
                            <option value="economy">Economy</option>
                            <option value="cultureSportsAndRecreation">Culture, sports and recreation</option>
                            <option value="transport">Transport</option>
                            <option value="transport.air">Air transport</option>
                            <option value="transport.water">Water transport</option>
                            <option value="transport.rail">Rail transport</option>
                            <option value="transport.road">Road transport</option>
                            <option value="transport.urban">Urban transport</option>
                            <option value="transport.lowCarbon">Low-carbon transport</option>
                            <option value="socialHousing">Social housing</option>
                            <option value="naturalResources">Natural resources</option>
                            <option value="naturalResources.floodProtection">Flood protection</option>
                        </select>

                    </div>
                    <div>
                        <label for="type" class="block text-sm font-medium text-gray-700">Project Type:</label>
                        <select formControlName="type" id="type" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                            <option value="construction">Construction</option>
                            <option value="rehabilitation">Rehabilitation</option>
                            <option value="replacement">Replacement</option>
                            <option value="expansion">Expansion</option>
                            <option value="decommissioning">Decommissioning</option>
                        </select>

                    </div>
                </div>

            </div>

            <div class="p-5 flex flex-col mt-5 gap-4">

                <div>
                    <label for="location" class="block text-sm font-medium text-gray-700">Location:</label>
                    <input formControlName="location" id="location" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Location">
                </div>
                <div class="flex justify-between">
                    <div class="flex-1 mr-2">
                        <label for="longitude" class="block text-sm font-medium text-gray-700">Longitude:</label>
                        <input formControlName="longitude" id="longitude" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                    <div class="flex-1 ml-2">
                        <label for="latitude" class="block text-sm font-medium text-gray-700">Latitude:</label>
                        <input formControlName="latitude" id="latitude" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                </div>

                <div>
                    <label for="address" class="block text-sm font-medium text-gray-700">Address:</label>
                    <textarea rows="4" formControlName="address" id="address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Project Purpose"></textarea>
                </div>

            </div>

            <div class="p-5 flex flex-col mt-5 gap-4">

                <div>
                    <label for="assetLifetime" class="block text-sm font-medium text-gray-700">Asset Lifetime:</label>
                    <input formControlName="assetLifetime" id="assetLifetime" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="Location">
                </div>
                <div class="flex justify-between">
                    <div class="flex-1 mr-2">
                        <label for="assetLifetimeStartDate" class="block text-sm font-medium text-gray-700">Longitude:</label>
                        <input formControlName="assetLifetimeStartDate" id="assetLifetimeStartDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                    <div class="flex-1 ml-2">
                        <label for="assetLifetimeEndDate" class="block text-sm font-medium text-gray-700">Latitude:</label>
                        <input formControlName="assetLifetimeEndDate" id="assetLifetimeEndDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                </div>

            </div>

            <div class=" p-5 flex flex-col mt-5 gap-4">


                <div class="flex justify-between">
                    <div class="flex-1 mr-2">
                        <label for="budgetAmount" class="block text-sm font-medium text-gray-700">Budget:</label>
                        <input formControlName="budgetAmount" id="budgetAmount" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                    </div>
                    <div class="flex-1 ml-2">
                        <label for="budgetCurrency" class="block text-sm font-medium text-gray-700">Currency:</label>
                        <select formControlName="budgetCurrency" id="budgetCurrency" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                            <option value="ZAR">ZAR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                        </select>

                    </div>
                </div>

            </div>

            <div class="p-5 flex flex-col mt-5 gap-4">
                <div formArrayName="fundingSources" class="space-y-4">
                    <div *ngFor="let fundingSource of fundingSources.controls; let i = index" [formGroupName]="i" class="flex gap-3">
                        <input formControlName="name" placeholder="Source Name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                        <input formControlName="amount" placeholder="Amount" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                        <select formControlName="currency" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                        </select>
                        <button type="button" (click)="removeFundingSource(i)" class="bg-red-500 py-1 px-3 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400">Remove</button>
                    </div>
                </div>
                <button type="button" (click)="addFundingSource()" class="bg-gray-100 py-1 px-3 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300"><i class="bi bi-plus mr-1"></i>Add Funding Source</button>

            </div>

            <div class="p-5 flex flex-col mt-5  gap-4 border border-green-800 rounded bg-green-50">
                <h3>Sustainability</h3>
                <div>
                    <label for="environmentalImpactAssessmentUrl" class="block text-sm font-medium text-gray-700">Environmental Impact Assessment (URL):</label>
                    <input formControlName="environmentalImpactAssessmentUrl" id="environmentalImpactAssessmentUrl" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="">
                </div>
                <div>
                    <label for="environmentalImpactAssessmentSummary" class="block text-sm font-medium text-gray-700">Environmental Impact Assessment Summary:</label>
                    <textarea rows="4" formControlName="environmentalImpactAssessmentSummary" id="environmentalImpactAssessmentSummary" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder=""></textarea>
                </div>
                <div>
                    <label for="socialImpactAssessmentUrl" class="block text-sm font-medium text-gray-700">Social Impact Assessment (URL):</label>
                    <input formControlName="socialImpactAssessmentUrl" id="socialImpactAssessmentUrl" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder="">
                </div>
                <div>
                    <label for="socialImpactAssessmentSummary" class="block text-sm font-medium text-gray-700">Social Impact Assessment Summary:</label>
                    <textarea rows="4" formControlName="socialImpactAssessmentSummary" id="socialImpactAssessmentSummary" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 px-3" placeholder=""></textarea>
                </div>

            </div>





            <div class="flex items-center justify-end mt-6">
                <button type="button" class="bg-gray-200 py-2 px-4 text-sm font-semibold text-gray-900 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 mr-4">Cancel</button>
                <button type="submit" class="bg-indigo-600 py-2 px-4 text-sm font-semibold text-white rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">Update Project</button>
            </div>
        </form>


    </div>

    <div *ngIf="activePhase === 'preparation'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Preparation Phase</h2>

    </div>

    <div *ngIf="activePhase === 'implementation'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Implementation Phase</h2>
    </div>

    <div *ngIf="activePhase === 'completion'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Completion Phase</h2>
    </div>

    <div *ngIf="activePhase === 'maintenance'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Maintenance Phase</h2>
    </div>

    <div *ngIf="activePhase === 'decommissioning'" class="space-y-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Decommissioning Phase</h2>
    </div>



</div>
