.pulsing-icon {
  .pulse-ring {
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
