<div *ngIf="projects.length > 0; else loading" class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-2 lg:gap-8">
        <div class="overflow-hidden rounded-lg bg-white shadow p-6">
            <div id="projectStatusOverviewChart" style="height: 400px;"></div>
        </div>

        <div class="overflow-hidden rounded-lg bg-white shadow p-6">
            <div id="fundingSourcesChart" style="height: 400px;"></div>
        </div>
        <div class="overflow-hidden rounded-lg bg-white shadow p-6">
            <div id="completionTimelineChart" style="height: 400px;"></div>
        </div>
        <div class="overflow-hidden rounded-lg bg-white shadow p-6">
            <div id="climateFinanceChart" style="height: 400px;"></div>
        </div>
        <div class="overflow-hidden rounded-lg bg-white shadow p-6">
            <div id="budgetVsActualCostsChart" style="height: 400px;"></div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Loading projects...</p>
</ng-template>
