<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!-- Main section -->
    <div appIntersectionObserver [@slideInAnimation] class="bg-primary rounded min-h-screen flex flex-col lg:flex-row items-center justify-between text-secondary p-4">
        <div class="w-full lg:w-1/2 text-center lg:text-left lg:pr-8">
            <h1 class="text-4xl sm:text-5xl lg:text-4xl font-bold leading-tight text-secondary">
                {{ mainSection.title }}
            </h1>
            <p class="mt-4 text-base sm:text-lg">
                {{ mainSection.description }}
            </p>
            <button (click)="navigateToProjects()" class="mt-8 px-6 sm:px-8 py-3 bg-accent text-secondary text-base sm:text-lg font-medium rounded hover:bg-secondary hover:text-primary transition">
                {{ mainSection.buttonText }}
            </button>
            <div class="flex flex-col sm:flex-row justify-center lg:justify-start space-y-4 sm:space-y-0 sm:space-x-8 mt-8">
                <div class="text-center">
                    <span class="block text-2xl sm:text-3xl font-bold">{{ numberOfProjects }}</span>
                    <span class="block mt-2 text-sm">Projects Published</span>
                </div>
                <div class="text-center">
                    <span class="block text-2xl sm:text-3xl font-bold">{{ totalValueOfProjects | currency:'USD':true }}</span>
                    <span class="block mt-2 text-sm">Total Value</span>
                </div>
            </div>
        </div>
        <div class="relative mt-4 lg:mt-0 w-full lg:w-1/2 flex items-center justify-center">
            <div id="map" class="w-full h-64 sm:h-96 rounded-lg border-4 shadow-lg"></div>
        </div>
    </div>

    <!-- Featured Projects Section -->
    <div appIntersectionObserver [@slideInAnimation] class="bg-primary py-12 sm:py-16 my-10 rounded-sm">
        <div class="container mx-auto px-6 lg:flex lg:items-center">
            <div class="lg:w-1/2">
                <h2 class="text-4xl font-bold mb-4">{{ featuredProjectsSection.title }}</h2>
                <p class="mb-6 text-lg">
                    {{ featuredProjectsSection.description }}
                </p>
                <button (click)="navigateToFeaturedProjects()" class="inline-block px-8 py-4 bg-accent text-black text-lg font-medium rounded hover:bg-gray-800 transition duration-300 ease-in-out">
                    {{ featuredProjectsSection.buttonText }}
                </button>
            </div>
            <div class="lg:w-1/2 lg:pl-12 mt-8 lg:mt-0 relative">
                <img src="../../../assets/featured.png" alt="Featured Project" class="w-full h-auto rounded-lg">
            </div>
        </div>
    </div>
    <!-- Recent and High-Value Projects Section -->
    <div class="container mx-auto px-4 py-14 rounded-lg my-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Recent Projects Section -->
            <div class="animate-hidden" appIntersectionObserver>
                <div class="flex items-center mb-4">
                    <i class="bi bi-stars text-secondary text-2xl"></i>
                    <h2 class="text-2xl font-semibold ml-2">Recent Projects</h2>
                </div>
                <ul class="pl-6">
                    <li *ngFor="let project of recentProjects" class="mb-2 flex items-center">
                        <i class="bi bi-file-earmark-text text-gray-500 mr-2"></i>
                        <a [routerLink]="['/public/projects', project.id]" class="hover:underline">
                            {{ project.name }}
                        </a>
                    </li>
                </ul>
            </div>

            <!-- High-Value Projects Section -->
            <div class="animate-hidden" appIntersectionObserver>
                <div class="flex items-center mb-4">
                    <i class="bi bi-graph-up text-secondary text-2xl"></i>
                    <h2 class="text-2xl font-semibold ml-2">High-Value Projects</h2>
                </div>
                <ul class="pl-6">
                    <li *ngFor="let project of highValueProjects" class="mb-2 flex items-center">
                        <i class="bi bi-file-earmark-text text-gray-500 mr-2"></i>
                        <a [routerLink]="['/public/projects', project.id]" class="hover:underline">
                            {{ project.name }} - {{ project.contractPrice | currency:'USD':true }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sponsors section -->
    <section class="py-16 bg-gray-50">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-2xl font-semibold text-center text-gray-800 mb-12">{{ sponsorsSection.title }}</h2>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
                <div *ngFor="let sponsor of sponsorsSection.sponsors" class="flex justify-center">
                    <a [href]="sponsor.link" target="_blank" rel="noopener noreferrer"
                       class="group flex items-center justify-center w-full h-32 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 ease-in-out">
                        <img [src]="sponsor.image" [alt]="sponsor.name"
                             class="max-h-16 w-auto object-contain opacity-60 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
