.bg-indigo-100 {
  background-color: #d8d8cd; // CoST Light Gray
}

.text-gray-900 {
  color: #2c4143; // CoST Blue
}

.text-gray-600 {
  color: #58707b; // CoST Teal
}

.bg-indigo-600 {
  background-color: #61a8bd; // CoST Light Blue
}

.hover\:bg-indigo-500:hover {
  background-color: #628ea0; // CoST Medium Blue
}

.focus-visible\:outline-indigo-600:focus-visible {
  outline-color: #61a8bd; // CoST Light Blue
}
