<div class="bg-white text-gray-900 w-64 space-y-6 py-7 px-2 pt-16 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
  <a href="#" class="text-gray-900 flex items-center space-x-2 px-4">
    <span class="text-2xl font-bold">Dashboard</span>
  </a>
  <!-- Navigation Links -->
  <nav>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-100 hover:text-gray-900">Home</a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-100 hover:text-gray-900">Projects</a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-100 hover:text-gray-900">Deployments</a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-100 hover:text-gray-900">Activity</a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-100 hover:text-gray-900">Settings</a>
  </nav>
  <!-- User section -->
  <div class="mt-auto relative">
    <button (click)="toggleDropdown()" class="flex items-center px-4 py-2 w-full text-left hover:bg-gray-100" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
      <i class="bi bi-person-circle w-8 h-8 text-gray-900 mx-2" style="font-size: 2rem;"></i>
      <span class="text-md font-semibold text-gray-900">{{ userName$ | async }}</span>
    </button>


    <!-- Dropdown menu -->
    <div [class.hidden]="!showDropdown" class="hidden absolute right-0 w-48 py-1 bg-white shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
      <div class="flex items-center px-4 py-2 text-sm text-gray-900">
        <i class="bi bi-person-circle mr-2 text-gray-700" style="font-size: 1.5rem;"></i>
        <span class="text-sm text-gray-600 truncate" style="max-width: 90%;">{{ userEmail$ | async }}</span>
      </div>
      <a routerLink="settings" class="flex items-center px-4 py-2 text-sm text-gray-900 hover:bg-gray-100" role="menuitem">
        <i class="bi bi-gear-fill mr-3"></i>Settings
      </a>
      <a href="#" (click)="logout()"  class="flex items-center px-4 py-2 text-sm text-gray-900 hover:bg-gray-100" role="menuitem">
        <i class="bi bi-box-arrow-right mr-3"></i>Logout
      </a>
    </div>


  </div>
</div>
