@font-face {
  font-family: 'Segoe UI';
  src:
          local("Segoe UI Semibold"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 600;
}

// Colors
$color-primary: #FAFAFA; // Light Gray (Background, large surfaces)
$color-secondary: #58707B; // Muted Blue (Text, icons, contrasting elements)
$color-accent: #FFCE32; // Bright Yellow (Call-to-action buttons, highlights)

// Grayscale
$color-gray: #DDDDDD;
$color-gray-dark: #333333;
$color-gray-light: #F5F5F5;

// Black & White
$color-black: #000000;
$color-white: #FFFFFF;

// Typography
$font-family: 'Segoe UI', sans-serif;
$font-family-base: $font-family;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Styles
$font-style-normal: normal;
$font-style-italic: italic;
