<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">{{ pageTitle }}</h1>

        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button routerLink="add" type="button" class="block rounded-md bg-gray-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Add Project</button>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <app-admin-loader [isLoading]="isLoading"></app-admin-loader>
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Project Title</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Budget</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let project of projects" class="hover:bg-gray-100">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                            <span class="font-bold">{{ project.oc4id_id }}</span>
                            <span class="ml-2" [attr.title]="project.description">
                                {{ project.title }}
                                            <i class="bi bi-info-circle-fill" style="font-size: 0.75rem; color: gray;"></i>
                            </span>
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ project.currency }} {{ project.budget }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-center">
                            <span class="inline-flex rounded-full px-3 py-1 text-xs font-semibold"
                                  [ngClass]="{'bg-red-200 text-white': !project.publishStatus, 'bg-green-500 text-white': project.publishStatus}">
                                {{ project.publishStatus ? 'Published' : 'Unpublished' }}
                            </span>
                            <button (click)="togglePublishStatus(project)" class="ml-2 text-xs text-gray-600 hover:text-gray-900">Toggle</button>
                        </td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                            <a [routerLink]="['edit-project', project.key]" class="text-gray-600 hover:text-gray-900">Update<span class="sr-only">, {{ project.title }}</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>