<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 mt-5">
    <!-- Loading State -->
    <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-75 z-50" @fadeInAnimation>
        <div class="w-16 h-16 border-4 border-gray-200 border-t-accent rounded-full animate-spin"></div>
    </div>
    <div class="container mx-auto px-4 py-8 my-14">

        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class="relative mb-8">
                <input
                        type="text"
                        class="w-full px-4 py-3 pl-10 rounded-full bg-gray-100 border-none focus:outline-none focus:ring-2 focus:ring-secondary transition-all duration-300"
                        placeholder="Search projects..."
                        (input)="onSearchChange($event)"
                />
                <svg class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </div>

            <div class="flex justify-center mb-8">
                <div class="inline-flex rounded-lg bg-gray-200 p-1">
                    <button
                            (click)="toggleFeatured()"
                            [class.bg-white]="!(showFeatured | async)"
                            [class.shadow-sm]="!(showFeatured | async)"
                            class="px-4 py-2 rounded-md text-sm font-medium transition-all duration-300"
                    >
                        All Projects
                    </button>
                    <button
                            (click)="toggleFeatured()"
                            [class.bg-white]="showFeatured | async"
                            [class.shadow-sm]="showFeatured | async"
                            class="px-4 py-2 rounded-md text-sm font-medium transition-all duration-300"
                    >
                        Featured
                    </button>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div *ngFor="let project of projects$ | async" class="relative overflow-hidden rounded-lg border bg-customGray text-black transition duration-300 ease-in-out transform hover:bg-accent hover:-translate-y-1 animate-slide-up">
                <div class="p-6">
                    <a [routerLink]="['/public/projects', project.id]" class="block">
                        <div class="flex justify-between items-center mb-2">
                            <h3 class="text-xl font-semibold hover:underline">{{ project.name }}</h3>
                            <i class="bi bi-arrow-right text-xl"></i>
                        </div>
                        <p class="text-sm mb-5">
                            <i class="bi bi-geo-alt-fill"></i> {{ project.location.name }}
                        </p>
                        <p>{{ project.stages.identification.basicData.projectDescription }}</p>
                    </a>
                    <div *ngIf="project.featured" class="absolute top-4 right-4">
                        <span class="bg-accent text-secondary text-xs font-semibold px-2.5 py-0.5 rounded-full">
                            Featured
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
